<div class="container body">
	<div class="main_container">
		<div class="col-md-3 left_col">
			<div class="left_col scroll-view">
				<div class="navbar nav_title" style="border: 0;">
					<a href="index.html" class="site_title"><i class="fa fa-paw"></i>
						<span>Neonews Studio</span></a>
				</div>

				<div class="clearfix"></div>

				<!-- menu profile quick info -->
				<div class="profile">
					<div class="profile_pic">
						<img src="img/user.png" alt="..." class="img-circle profile_img">
					</div>
					<div class="profile_info">
						<span> Bem Vindo (a),</span>
						<h2>{{session.name}}</h2>
					</div>
				</div>
				<!-- /menu profile quick info -->

				<br />

				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
					<div class="menu_section">
						<br />
						<br />
						<br />
						<ul class="nav side-menu">
							<li><a><i class="fa fa-home"></i> Menu <span
									class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a href="#/home/logged/terminal">Terminais</a></li>
									<li><a href="#/home/logged/campaign">Campaigns</a></li>
									<li><a href="index3.html">Dashboard3</a></li>
								</ul></li>
						</ul>
					</div>
					<div class="menu_section">
						<h3>Objetos</h3>
						<ul class="nav side-menu">
							<li><a><i class="fa fa-edit"></i> Terminais <span
									class="fa fa-chevron-down"></span></a>
								<div class="component-holder" data-component="crn-datasource"
									id="crn-datasource-867373">
									<datasource name="TerminalList"
										entity="api/rest/com/in9midia/studio/data/Terminal?tenant={{session.tenant.id}}"
										keys="id" rows-per-page="100" on-before-create=""
										on-after-create="" on-before-update="" on-after-update=""
										on-before-delete="" on-after-delete="" filter="" class=""></datasource>
								</div>
								<ul class="nav child_menu">
									<li ng-repeat="obj in TerminalList.data"><a
										href="#/home/logged/terminal-edit/{{obj.id}}">{{obj.name
											| limitTo: 20}}{{obj.name.length &gt; 20 ? '...' : ''}}</a></li>
								</ul></li>
							<li><a><i class="fa fa-desktop"></i> Campanhas <span
									class="fa fa-chevron-down"></span></a>

								<div class="component-holder" data-component="crn-datasource"
									id="crn-datasource-8671322">
									<datasource name="CampaignList"
										entity="api/rest/com/in9midia/studio/data/Campaign?tenant={{session.tenant.id}}"
										keys="id" rows-per-page="100" on-before-create=""
										on-after-create="" on-before-update="" on-after-update=""
										on-before-delete="" on-after-delete="" filter="" class=""></datasource>
								</div>
								<ul class="nav child_menu">
									<li ng-repeat="obj in CampaignList.data"><a
										href="general_elements.html">{{obj.name | limitTo:
											20}}{{obj.name.length &gt; 20 ? '...' : ''}}</a></li>
								</ul></li>

							<li><a><i class="fa fa-desktop"></i> Templates <span
									class="fa fa-chevron-down"></span></a>

								<div class="component-holder" data-component="crn-datasource"
									id="crn-datasource-8671322">
									<datasource name="TemplateList"
										entity="api/rest/com/in9midia/studio/data/CampaignTemplate?tenant={{session.tenant.id}}"
										keys="id" rows-per-page="100" on-before-create=""
										on-after-create="" on-before-update="" on-after-update=""
										on-before-delete="" on-after-delete="" filter="" class=""></datasource>
								</div>
								<ul class="nav child_menu">
									<li ng-repeat="obj in TemplateList.data"><a
										href="general_elements.html">{{obj.name | limitTo:
											20}}{{obj.name.length &gt; 20 ? '...' : ''}}</a></li>
								</ul></li>
						</ul>
					</div>

				</div>
				<!-- /sidebar menu -->

				<!-- /menu footer buttons -->
				<div class="sidebar-footer hidden-small">
					<a data-toggle="tooltip" data-placement="top" title="Settings">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
						<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
					</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
						class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
					</a> <a data-toggle="tooltip" data-placement="top" title="Logout">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
					</a>
				</div>
				<!-- /menu footer buttons -->
			</div>
		</div>

		<!-- top navigation -->
		<div class="top_nav">
			<div class="nav_menu">
				<nav class="" role="navigation">
					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars"></i></a>
					</div>

					<ul class="nav navbar-nav navbar-right">
						<li class=""><a href="javascript:;"
							class="user-profile dropdown-toggle" data-toggle="dropdown"
							aria-expanded="false"> <img src="img/user.png" alt="">{{session.name}}
								<span class=" fa fa-angle-down"></span>
						</a>
							<ul class="dropdown-menu dropdown-usermenu pull-right">
								<li><a href="javascript:;"> Profile</a></li>
								<li><a href="javascript:;"> <span
										class="badge bg-red pull-right">50%</span> <span>Settings</span>
								</a></li>
								<li><a href="javascript:;">Help</a></li>
								<li><a ng-click="logout()"><i
										class="fa fa-sign-out pull-right"></i> Log Out</a></li>
							</ul></li>

						<li role="presentation" class="dropdown"><a
							class="dropdown-toggle info-number">

								<div class="component-holder ng-binding ng-scope"
									data-component="crn-datasource" id="crn-datasource-973072">
									<datasource name="Company"
										entity="api/rest/com/in9midia/studio/data/Company" keys="id"
										rows-per-page="100" on-before-create="" on-after-create=""
										on-before-update="" on-after-update="" on-before-delete=""
										on-after-delete=""></datasource>
								</div> <select ng-change="changeTenant(session.tenant.id)"
								ng-model="session.tenant" class="form-control"
								id="textinput-company"
								ng-options="opt as opt.name for opt in Company.data track by opt.id">
									<option value="">Nenhuma</option>
							</select>

						</a>
							<ul id="menu1" class="dropdown-menu list-unstyled msg_list"
								role="menu">
								<li><a> <span class="image"><img
											src="img/user.png" alt="Profile Image" /></span> <span> <span>John
												Smith</span> <span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>
								<li><a> <span class="image"><img
											src="img/user.png" alt="Profile Image" /></span> <span> <span>John
												Smith</span> <span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>
								<li><a> <span class="image"><img
											src="img/user.png" alt="Profile Image" /></span> <span> <span>John
												Smith</span> <span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>
								<li><a> <span class="image"><img
											src="img/user.png" alt="Profile Image" /></span> <span> <span>John
												Smith</span> <span class="time">3 mins ago</span>
									</span> <span class="message"> Film festivals used to be
											do-or-die moments for movie makers. They were where... </span>
								</a></li>
								<li>
									<div class="text-center">
										<a> <strong>See All Alerts</strong> <i
											class="fa fa-angle-right"></i>
										</a>
									</div>
								</li>
							</ul></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- /top navigation -->

		<!-- page content -->
		<div ui-view="" class="right_col main-view" role="main"></div>


		<!-- footer content -->
		<footer>
			<div class="pull-right">
				Gentelella - Bootstrap Admin Template by <a
					href="https://colorlib.com">Colorlib</a>
			</div>
			<div class="clearfix"></div>
		</footer>
		<!-- /footer content -->
	</div>
</div>

<script src="js/custom.js"></script>