<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Context>
    <Resource accessToUnderlyingConnectionAllowed="true" driverClassName="org.h2.Driver" logAbandoned="true" name="jdbc/main" password="root" removeAbandoned="false" removeAbandonedTimeout="60" type="javax.sql.DataSource" url="jdbc:h2:file:~/f73bedde2dc342a8970e350d5000e62723;DATABASE_TO_UPPER=false;ALIAS_COLUMN_NAME=true;AUTO_SERVER=TRUE" username="root"/>
    <Resource accessToUnderlyingConnectionAllowed="false" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" logAbandoned="true" name="jdbc/neonews" password="sqlserver123br" removeAbandoned="false" removeAbandonedTimeout="60" type="javax.sql.DataSource" url="jdbc:sqlserver://192.168.1.2:1433;DatabaseName=neonews_develop;SelectMethod=cursor" username="sa"/>
</Context>
