<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Context>
    <Resource accessToUnderlyingConnectionAllowed="false" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" logAbandoned="true" name="jdbc/neonews" password="sqlserver123br" removeAbandoned="false" removeAbandonedTimeout="60" type="javax.sql.DataSource" url="jdbc:sqlserver://192.168.1.2:1433;DatabaseName=neonews_develop;SelectMethod=cursor" username="sa"/>
</Context>
